{% extends "base.html" %}

{% load static %}

{% block title %}

interiorworkskenya.co.ke - Best Interior Design in Kenya

{% endblock %}

{% block content %}

<br>
<div class="jumbotron">
<h5>We deal with installation of laminate floor, bamboo floor, Wood blocks, parquet, wooden stairs, gysum celling,wardrobes ,kitchens cabinet and epoxy 3d floor and celling.</h5>
</div>

<div class="container">
<div class="row">
<div class="col-md-4">
<div class="card border-success mb-3" >

  <div class="card-header bg-info border-success" align = "center">About Us</b></div>

  <div class="card-body text-success" align = "center">
    <hr>
    <p>
      A World class interior design firm. We create from scratch. Deliver in time, and are up to date with modern interior-design concepts
    </p>
    <p>
Call today for all your interior design needs in Kenya
    </p>
  </div>

  <div class="card-footer bg-transparent border-success" align = "center">0796776177<b></div>
</div>
</div>

<div class="col-md-4" >
<div class="card border-success mb-3" >

  <div class="card-header bg-info border-success" align = "center">Services</b></div>

  <div class="card-body text-success" align = "center">
    <hr>
    <p>We offer design services for both residential and commercial settings in Nairobi and it's surrounding
    </p>
    <p>
Call today for all your interior design needs in Kenya
    </p>
  </div>

  <div class="card-footer bg-transparent border-success" align = "center"> 0799833499<b></div>
</div>
</div>

<div class="col-md-4" >
<div class="card border-success mb-3">

  <div class="card-header bg-info border-success" align = "center">Testimonials</b></div>

  <div class="card-body text-success" align = "center">
    <hr>
    <p>We would love to hear from our customers and partners. Use the facebook comment section below to submit your own testimonial. Please feel free to share your own experiences and inspiration with us
    </p>
    <p>
Call today for all your interior design needs in Kenya
    </p>
  </div>

  <div class="card-footer bg-transparent border-success" align = "center"> 0711722199<b></div>
</div>
</div>

</div>
</div>

<br>
{% include "highchart.html" %}
{% endblock %}
