{% extends "base.html" %}

{% load static %}

{% block title %}

interiorworkskenya.co.ke - Best Interior Design in Kenya

{% endblock %}

{% block content %}

<br>
<div class="jumbotron">
<h5>We deal with installation of laminate floor, bamboo floor, Wood blocks, parquet, wooden stairs, gysum celling,wardrobes ,kitchens cabinet and epoxy 3d floor and celling.</h5>
</div>

<div class="container">
<div class="row">
<div class="col-md-4">
<div class="card border-success mb-3" >

  <div class="card-header bg-info border-success" align = "center">Call Us</b></div>

  <div class="card-body text-success" align = "center">
    <hr>
    <p>
      0796776177
    </p>
    <p>
      0799833499
    </p>
    <p>
      0711722199
    </p>
    <p>
Call today for all your interior design needs in Kenya
    </p>
  </div>

  <div class="card-footer bg-transparent border-success" align = "center">Call us today<b></div>
</div>
</div>

<div class="col-md-4" >
<div class="card border-success mb-3" >

  <div class="card-header bg-info border-success" align = "center">Live Chat</b></div>

  <div class="card-body text-success" align = "center">
    <hr>
    <p>You can live chat us on the pop up on your bottom right.Our team will respond to all your queries as early as possible
    </p>
    <p>
Live chat us today for all your interior design needs in Kenya
    </p>
  </div>

  <div class="card-footer bg-transparent border-success" align = "center"> Live chat system<b></div>
</div>
</div>

<div class="col-md-4" >
<div class="card border-success mb-3">

  <div class="card-header bg-info border-success" align = "center">Email</b></div>

  <div class="card-body text-success" align = "center">
    <hr>
    <p>Justasekhavalaji2018@gmail.com
    </p>
    <p>info@interiorworkskenya.co.ke
    </p>
    <p>
Email us today for all your interior design needs in Kenya
    </p>
  </div>

  <div class="card-footer bg-transparent border-success" align = "center"> 0711722199<b></div>
</div>
</div>

</div>
</div>
{% endblock %}
