{% load static %}

<div class="row" style="background-color:#322f30; margin: 6px;" id="contact">

<div class="col-md-4"  >

<p style="color:white"><i class="fas fa-sign-in-alt"></i> Phone:  0711722199</p>
<p style="color:white"><i class="fas fa-envelope"></i> Email:  info@interiorworkskenya.co.ke</p>

</div>

<div class="col-md-4" >

  <h5 style="color:white">Laminate floor</h5>
  <p style="color:white">Bamboo floor</p>
  <p style="color:white">Wood blocks</p>
  <p style="color:white">Parquet</p>
  <p style="color:white"><i class="fas fa-sign-in-alt"></i> Phone:  0799833499</p>
  <p style="color:white"><i class="fas fa-envelope"></i> Email:  info@interiorworkskenya.co.ke</p>

</div>

<div class="col-md-4" >

  <h5 style="color:white">Wooden stairs</h5>
  <p style="color:white">Gysum celling</p>
  <p style="color:white">Wardrobes</p>
  <p style="color:white">Kitchens cabinet</p>
  <p style="color:white">Epoxy 3d floor</p>
  <p style="color:white"><i class="fas fa-sign-in-alt"></i> Email:  info@interiorworkskenya.co.ke</p>
  <p style="color:white"><i class="fas fa-sign-in-alt"></i> Phone:  0796776177</p>
      <br>  <br>
        <br>  <br>
          <a href="/facebook/" class="fab fa-facebook"></a>
</div>

</div>
