{% extends "base.html" %}

{% load static %}

{% block title %}

interiorworkskenya.co.ke - Best Interior Design in Kenya

{% endblock %}

{% block content %}

<br>
<div class="jumbotron">
<h5>We deal with installation of laminate floor, bamboo floor, Wood blocks, parquet, wooden stairs, gysum celling,wardrobes ,kitchens cabinet and epoxy 3d floor and celling.</h5>
</div>

<br>
{% include "highchart.html" %}
<br>

<div class="jumbotron">
<h5 class="text-center">Our previous work</h5>
</div>

<div class="container">

<div class="row">

<div class="col-md-4">
<img style="width:100%; height:300px;top: 0px; left: 0px;margin-top: 0px; margin-left: 0px;" src="{% static "images/f1.jpg"  %}" alt="My image"  />
</div>

<div class="col-md-4">
<img style="width:100%; height:300px;top: 0px; left: 0px;margin-top: 0px; margin-left: 0px;" src="{% static "images/f2.jpg"  %}" alt="My image"  />
</div>

<div class="col-md-4">
<img style="width:100%; height:300px;top: 0px; left: 0px;margin-top: 0px; margin-left: 0px;" src="{% static "images/f5.jpg"  %}" alt="My image"  />
</div>

</div>

<div class="row">

<div class="col-md-4">
<img style="width:100%; height:300px;top: 0px; left: 0px;margin-top: 0px; margin-left: 0px;" src="{% static "images/f7.jpg"  %}" alt="My image"  />
</div>

<div class="col-md-4">
<img style="width:100%; height:300px;top: 0px; left: 0px;margin-top: 0px; margin-left: 0px;" src="{% static "images/f8.jpg"  %}" alt="My image"  />
</div>

<div class="col-md-4">
<img style="width:100%; height:300px;top: 0px; left: 0px;margin-top: 0px; margin-left: 0px;" src="{% static "images/f9.jpg"  %}" alt="My image"  />
</div>

</div>

<div class="row">

<div class="col-md-4">
<img style="width:100%; height:300px;top: 0px; left: 0px;margin-top: 0px; margin-left: 0px;" src="{% static "images/f16.jpg"  %}" alt="My image"  />
</div>

<div class="col-md-4">
<img style="width:100%; height:300px;top: 0px; left: 0px;margin-top: 0px; margin-left: 0px;" src="{% static "images/f17.jpg"  %}" alt="My image"  />
</div>

<div class="col-md-4">
<img style="width:100%; height:300px;top: 0px; left: 0px;margin-top: 0px; margin-left: 0px;" src="{% static "images/f18.jpg"  %}" alt="My image"  />
</div>

</div>

</div>
{% endblock %}
